/* .profile-page-layout {
    min-height: 82.3vh;
}

.Profile-card{
  padding: 15px;
}

.Profile-card-link{
  background-color: white;
  text-align: left;
  display: block;
  font-size: 20px;
}

.Profile-card-link:hover{
  color:rgb(54, 11, 173);
} */
.main-content{
  float: center;
  margin-top:-80vh;
  margin-left:28vh;
}
.main-title {
      font-weight: bold;
      font-size:25px;
      text-align: left;
      margin-left: 60px;
}

.profile-form{
  text-align:left;
  margin-left:50px;
  border: 1px solid rgba(71, 69, 69, 0.274);
  border-radius: 5px;
  height: 50vh;
  width:80vh;
  padding: 15px;
  background-color:white;
}

.editbtn{
      border: none;
      color: #1890ff;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;  
  }

.form-input{
  border-radius: 5px;
  background-color:rgba(235, 231, 226, 0.671);
      width: 200px;
      padding: 5px;
      border:none;
    margin-left:20px;
}

.form-input:focus{
  outline: none;
}

.form-input-label{
  font-size:20px;
  font-weight: bold;
  margin-left: 20px;
}

.form-input-radio{
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
}

.form-input-radio-btn{
  margin-left:20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
