.footer-container {
  background-color: #172337;
  align-items: center;
  width: 100%;
  height: auto;
  color: white;
  /* position: absolute; */
  /* bottom: auto; */
}
.footer-text-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
}
.footer-1 {
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: auto;
}
.footer-2 {
  border-left-style: solid;
  /*  */
  width: 50%;
  height: auto;
  margin: auto;
  padding-left: 10px;
  
}
.copy-right{
  text-align: center;
}
@media only screen and (max-width: 450px) {
  .footer-container {
    text-align: center;
    height: auto;
    margin: auto;
    padding: auto;
  }
  .footer-text-container {
    display: block;
    /* border-bottom:solid ; */
  }
  .footer-1 {
    text-align: center;
    margin: auto;
    height: auto;
    display: block;
    padding: auto;
  }
  .footer-2 {
    border: none;
    height: auto;
    text-align: center;
    margin: auto;
    padding: auto;
  }
}
