.card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:#2874f0 ; */
    background-color: white;
    color: white;
    width: 70%;
    height:auto;
    margin: auto;
    margin:10px auto 10px auto;
    padding: 5px;
    border: 1px solid black;
    /* box-shadow: 5px 5px 15px black; */
    /* border-radius: 10px; */
    /* border-color: #2874f0; */
}
.card-img{
    /* background-image: url(../../assets/Shoes.jpg); */
    height: auto;
    width: auto;
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-around;
    padding: auto;

}
.card-detail{
    text-align: left;
    width: 70%;
    font-size: larger;
    color:#2874f0 ;
    /* border: 1px solid black; */
    padding: 5px;

}
.card-button{
    text-align: end;
    width: auto;
    /* border: 1px solid black; */
    color: black;
    margin: 10px;
    border-radius: 5px;
    

}
.card-button{
    font-size:2rem;
}

.card-img-main{
    width: 100px;
    height: 100px;
    margin:10px;
    background-image: url(../../assets/Shoes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}


.price{
    font-size:x-large;
    font-weight: bolder;
    color: black;
}

@media only screen and (max-width: 400px) {
    
    .card-container{
        display: block;

    }
}
