.wishlist-sider-body-containner {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 85vh;
  margin: auto;
}

.wishlist-slider {
  width: 15%;
  margin-left: 5px;
}
.specific-box {
  width: 100%;
}

.wishlist-body {
  width: 80%;
}

.wishlist-header {
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
  width: auto;
}

@media only screen and (max-width: 1440px) {
  .wishlist-body {
    width: 80%;
  }
}
@media only screen and (max-width: 1024px) {
  .wishlist-body {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .wishlist-body {
    width: 100%;
  }
  .wishlist-sider-body-containner {
    display: block;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: auto;
  }
  .wishlist-slider {
    width: 100%;
  }
}
