.margin-10-px {
  margin: 10px;
}

p {
  margin: 0;
}

.order-img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.order-grid {
  width: 100%;
  text-align: "center";
}

.order-page-layout {
  min-height: 85vh;
}

.order-filter {
  background: #f0f2f5;
  margin: 10px 0;
}

@media only screen and (max-width: 768px) {
  .order-page-layout {
    display: flex;
    flex-direction: column !important;
    width: 100%;
  }
  .order-filter {
    margin: 10px 0;
    width: 80vw !important;
    max-width: 80vw !important;
    flex: 0;
  }
  .order-search {
    width: 80vw;
  }
  .order-list-of-card {
    width: 80vw;
  }
  .margin-10-px {
    margin: 10px 0;
  }
}

@media only screen and (max-width: 425px) {
  .order-page-layout {
    display: flex;
    flex-direction: column !important;
    width: 100%;
  }
  .order-filter {
    width: 95vw !important;
    max-width: 95vw !important;
    margin: 10px;
    flex: 0 !important;
  }
  .order-search {
    width: 95vw;
  }
  .order-list-of-card {
    width: 95vw;
  }
  .order-page-content {
    margin: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .order-page-layout {
    display: flex;
    flex-direction: column !important;
    width: 100%;
  }
  .order-filter {
    width: 94vw !important;
    max-width: 94vw !important;
    margin: 10px;
    flex: 0 !important;
  }
  .order-search {
    width: 94vw;
  }
  .order-list-of-card {
    width: 94vw;
  }
  .order-page-content {
    margin: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .order-filter {
    width: 94vw !important;
    max-width: 94vw !important;
    margin: 10px;
    flex: 0 !important;
  }
  .order-search {
    width: 94vw;
  }
  .order-list-of-card {
    width: 94vw;
  }
  .order-page-content {
    margin: 10px;
  }
}
