.card {
    width: 100%;
    text-align: left;
    margin: 2rem 0;
    padding: 0 auto;
}

.div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.inner-card {
    margin: 2rem auto 0 auto;
    width: 20rem;
    z-index: 1;
}
.ant-card-body{
    padding: 0 !important;
}
.title{
    font-size: 1.3rem !important;
}
.price{
    font-weight: bold;
    font-size: 1.3rem;
}
.img {
    height: 28rem;
}

.wishlist-btn-new {
    border: none;
    z-index: 100;
    position: relative;
    top: -34rem;
    right: -84%;
    background: none;
    transform: scale(2);
}
.redcolor{
    color: #cccccc !important;
}
.greycolor{
    color: red !important;
}

@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1024px) {
    .wishlist-btn-new {
        top: -19rem;
        right: -95%;
    }

    .inner-card {
        height: 100%;
    }
}


@media only screen and (max-width: 768px) {
    .wishlist-btn-new {
        top: -30rem;
        right: -88%;
    }
}

@media only screen and (max-width: 425px) {
    .wishlist-btn-new {
        top: -24rem;
        right: -88%;
    }
}

@media only screen and (max-width: 375px) {
    .wishlist-btn-new {
        top: -24rem;
        right: -88%;
    }
}

@media only screen and (max-width: 320px) {
    .wishlist-btn-new {
        top: -23.5rem;
        right: -88%;
    }
}