.card {
    width: 100%;
    text-align: left;
    margin: 2rem 0;
    padding: 0 auto;
}

.div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.inner-card {
    margin: 2rem auto 0 auto;
}

.img {
    height: 28rem;
}

.wishlist-btn-new {
    border: none;
    z-index: 10;
    position: relative;
    top: -28rem;
    right: -16.3rem;
    background: none;
    transform: scale(2);
}