
.forgot-form-button {
    width: 100%;
}
.reg-btn{
    border: none;
    color: #1890ff;
    cursor: pointer;
}

.field-display-none{
    display: none;
  }
  
  .field-display-block{
    display: block;
    border: none;
    color: white;
    border-radius: 5px;
  }