.address-page-layout {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.address-contentdiv{
  float: center;
}

.card-title{
  font-weight: bold;
  font-size:20px;
  display: flex;
  justify-content: flex-start;
}  
.add-address{
  border: none;
   padding: 10px;
    font-weight: bold;
    text-align:left;
    font-size:15px;
    cursor: pointer;
    color: #1890ff;
    float: left;  
}

.address-div{
    border: 1px solid rgba(102, 98, 98, 0.294);
    text-align:left;
    padding:20px;
    background-color:white;
}

.three-dots{
   float: right; 
}
.three-dots:after {
    cursor: pointer;
    content: '\2807';
    font-size: 20px;
    padding: 0 5px;
  }

  .user-name{
    font-weight: bold;
  } 

   .dropdown {
    background-color: rgb(183, 183, 207);
    border-radius:5px;
    padding: 5px;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    float: right;
    position: relative;
  }
  
  .dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
  }
 
  
  @media only screen and (max-width: 768px) {
 
    .card-title{
      font-size: 20px;
    }
  
    .address-page-layout {
      display: flex;
      flex-direction: column;
    }
    .address-div{
      border: 1px solid rgba(102, 98, 98, 0.294);
      text-align:left;
      padding:15px;
      background-color:white;
  }
    .address-contentdiv {
      width: 100% !important;
    }
    .user-name{
      font-size: 15px;
    }

    .user-details{
      font-size:15px;
    }
  }
  
  @media only screen and (max-width: 425px) {
     .card-title{
       font-size: 18px;
     }
     .add-address{
       font-size:13px;
     }
     .address-contentdiv {
      width: 100% !important;
      padding:10px
    }
    }