.outer-div {
    display: flex;
    justify-content: space-evenly;
}
.ant-card-body{
    padding: 0;
    background: #F0F2F5;
}
.ant-card:hover{
    transition: none !important;
}
.inner-card-sp {
    width: 40%;
}

.right-div {
    width: 50%;
}

.inner-right-div {
    width: 100%;

}
.action-btn{
width: 100%;
height: 100%;
}
.wishlist-btn-sp{
    border: none;
    z-index: 10;
    position: relative;
    top: -50rem;
    right: -42%;
    background: none;
    transform: scale(2.5);
}

h3 {
    font-size: 2rem;
    text-align: left;
}

@media only screen and (max-width: 1440px) {
    .wishlist-btn-sp{
        top: -39rem;
    }
}

@media only screen and (max-width: 1024px) {
    .wishlist-btn-sp{
        top: -29rem;
    }
}


@media only screen and (max-width: 768px) {
    .wishlist-btn-sp{
        top: -23rem;
        transform: scale(2);
    }
}

@media only screen and (max-width: 425px) {
    .outer-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inner-card-sp {
        width: 80%;
    }
    .right-div{
        width: 80%;
    }
    .wishlist-btn-sp{
        top: -30rem;
        
    }
}

@media only screen and (max-width: 375px) {
    .wishlist-btn-sp{
        top: -27rem;
    }
}

@media only screen and (max-width: 320px) {
    .wishlist-btn-sp{
        top: -23.5rem;
    }
}